<h1>Новая новость</h1>
<%= form_with(model: @news, local: true) do |form| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "ошибка") %> препятствует сохранению этой новости:</h2>
      <ul>
        <% @news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, "Заголовок:" %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "Содержание:" %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :published, "Опубликовано:" %><br>
    <%= form.check_box :published %>
  </div>
  <div>
    <%= form.label :publish_date, "Дата публикации:" %><br>
    <%= form.datetime_select :publish_date %>
  </div>
  <div>
    <%= form.label :image, "Изображение:" %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
